* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}


/* nav bar section */

#first {
    padding-left: 150px;
    color: white;
}

#list {
    padding-left: 300px;
}

#list li {
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}

#list li a:hover {
    color: white;
    background-color: black;
    border-radius: 10px;
}


/* home card section */

#card,
#row {
    align-items: center;
    text-align: center;
    padding: 20px;
}

#card,
#row,
#second {}

#card,
#second,
#area,
h1 {
    font-size: 5.1rem;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 50px;
}

#card,
#row,
#second,
#area,
h3 {
    /* position: relative;
    width: 32.8rem; */
    font-size: 3.1rem;
    font-weight: 700;
    /* color: transparent; */
    -webkit-text-stroke: 0.7px var(--main-color);
}